/**
 * Bigger PC or TV
 *
 * When the with is bigger than 1366px
 */
@media (min-width:1366px)
	.wrap
		width 80%
	 
	.header
		.phone
			width 480px
			
		.presentation
			width 55%
			
	
			
/**
 * Most small PC and some Tablets
 *
 * When the with is lower than 1024px
 */
@media (max-width:1024px)
	.wrap
		width 94%
		
	nav li a 
		padding 1.5em 0.4em !important

	.header
		height 440px
		
		.phone
			width 355px
			height 460px
			
		.presentation
			margin-top 90px
			
						
			h1
				padding 25px 0
			p
				display none
    
	.section-master
		top 500px
		
	#section-support
		ul li
			float none
			width 100%
			margin 20px 0px
			 


	#section-benefit
		
		#carousel-info
			li
				.info
					margin 0 150px 0 0 !important
					
					h4
						font-size 1.1em !important
						
					p
						font-size 0.9em !important
					
			li:nth-child(2n) 
				.info
					margin 0 0 0 150px !important

	#section-download
		ul
			width 70%
			margin-left auto
			margin-right auto
			li
				float none
				width 100%
				text-align center
				
			img 
				width 25%
				float none
				margin 0
				
			.description 
				width 100%
				float none
				margin 0 auto 8% auto
				
 
/**
 * Most of Tablets & phones
 *
 * When the with is lower than 780px
 */
@media (max-width:768px)
	nav
		display none
			
	section h2
		font-size 1.5em !important


	.header
		margin-top 0px
		#header-parallax
			margin-top 0px
			
	.section-master
		top 440px
		

	#section-list
	 
		 with 100%

		
	#section-benefit

		.interactive
			height 550px
			.phone
				width 200px
				height 450px
				position static
				margin 0px auto 
				left auto 
				
				.background
					width 190px
					height 390px
					
				#carousel
					width 160px
					margin 60px 0 0 15px
					
					.owl-pagination
						display block 
						margin-top 75px
						
			#carousel-info
				padding-top 0px
				
				li
					height auto
					width auto
					display block
					float none !important

					.info
						display none !important
						float none !important
						max-width none
						margin 0px !important
						
						.icon
							display none
							
						&.active
							display block !important
							
							.arrow
								display none !important
								
							h4
								font-size 1.2em !important
								font-weight 300
								
							p 
								font-size 0.8em !important
								
       	
/**
 * Most of phones
 *
 * When the with is lower than 640px
 */
@media (max-width:640px)
	nav li a 
		padding 1.5em 0.4em !important
		display none
	nav
		display inline
		height 35px
		
		.nav_movil
			
			    display inline 
			    float right
			    margin-top 8px 
			    
		.logo
			img 
				width 58%
				margin-top -2px    
			
			

	    .header
	    	position static
	    	
	.header #header-parallax
		    position static
		    height 376px
		.phone
			height 346px
			width 160px
			background url(../images/fondo_movil.png) center bottom no-repeat
			background-size: 100%;
			margin-left 104px
			margin-top 5px
			
		.presentation
						  			    
			    float left
			    margin-top 47px
			    margin-left 45px
			    width 37%
			h1
				font-size 1.2em
				text-align center
															
			img 
			
				width 100%	
				

		.download	
			
			img
				width 50%
				margin-left 55px
				
		.img1 .img2 .img3
			    width 100%
	

	.section-master
		top 374px
		
	#section-devices
		
		.device-example
				
				margin-left 3%
				margin-left 23%	
				
			.device-list
				width 93.4%	
				
			figure
				margin-left 90px				
        

	
/**
 * Most of phones
 *
 * When the with is lower than 600px
 */
@media (max-width:600px)


	    .header
	    	position static
	.header #header-parallax
		    position static
		.phone
			height 345px
			width 160px
			background url(../images/fondo_movil.png) center bottom no-repeat
			background-size: 100%;
			margin-left 56px
			margin-top 9px
			
		.presentation
						  			    
			    float left
			    margin-top 45px
			    margin-left 80px
			    width 42%
			h1
				font-size 1.2em
				text-align center
															
			img 
			
				width 100%	
				

		.download	
			
			img
				width 50%
				margin-left 55px
					

	#section-support
		
		       padding-bottom 0px
			   	    			    		
		.wrap
			    
			img
				width 16%
				


	#section-benefit
		.wrap
			h2 
			    padding 1px
			    margin-top 1px

			

	#section-devices
		
		.device-example
				
				margin-left 20%
				 

		.device-list
			width 56.7%
			
			h2 
				text-align center
				width 161%
				color #04b24b
			   
			figure 
				
				float center
				margin-left -10px
				margin-right 20px
				width 381%
			   
				
			figure img
				margin 2.8%  


		.subtitle
		  
				float center
				width 165%
			  
	#section-contact 
		form
			width 80%
		.wrap
			h3
				
				font-size 1.3em 
				text-align center
				width 100% 
				

	.footer
		.home
			img
				margin-top 30px
				width 250%
				float left
				
		.links
			 margin-top 3px
			 width 100%
			

			li
				 
				 font-size 0.9em
				 margin-top 15px
				 
		.social 
			 
			 margin-top 9px
			 float right
			 width 25%
			 
	#section-video
		    
		    padding 1px		 

	#video1 
		
		    display none
		
/**
 * Most of phones
 *
 * When the with is lower than 480px
 */
@media (max-width:480px)

	    .wrap
			width 90%
			
		nav li a 
			padding 1.5em 0.4em !important
			display none
			

		nav
		    display inline	
		    height 35px
		    
	
		    	
		.nav_movil
			
			    display inline 
			    float right
			    margin-top 10px   			    
		    
		.logo
			img 
				width 58% 	

		.header
			height 340px
    
		.section-master
				top 350px
				
	#section-support
			padding-top 1px
			margin-top 1px
			
			h2
				margin-top 1px
				
			
	#section-support ul li
			float none
			width 100%
			margin 0px 0px

	.header #header-parallax
		    
		.phone
			height 280px
			width 125px
			background url(../images/fondo_movil.png) center bottom no-repeat
			background-size: 100%;
			margin-left 38px
			margin-top 40px 
			
		.presentation
						  			    
			    float left
			    margin-top 73px
			    margin-left 37px
			h1
				font-size 1em
				text-align center
				padding 2px 
															
			img 
			
				width 100%	
				

		.download	
			
			img
				width 69%
				margin-left 25px 
				margin-top 1px 
	


	#section-benefit
		.wrap
			h2
				font-size 1.5em			
				
				
	#section-devices
		
		.device-example
				
				margin-left 6%
				
			img 
				width 285px	 

		.device-list
			width 64.4%
			figure
				width 299%
			
			h2 
				text-align center
				width 146%
				color #04b24b
			   
				
			figure img
				margin 2.8% 
				width 32px 
				float center  


		.subtitle
		  
				float center
				width 144%
			  

/**
 * Most of phones
 *
 * When the with is lower than 400px
 */
@media (max-width:400px)


	    .wrap
			width 90%
			
		nav li a 
			padding 1.5em 0.4em !important
			display none
			
		nav
		    display inline	
		    height 35px
		    
	
		    	
		.nav_movil
			
			    display inline 
			    float right
			    margin-top 8px   			    
		    
		.logo
			img 
				width 58% 
				margin-top -2px
					

		.header
			height 340px
    
		.section-master
				top 350px
				
	#section-support
			padding-top 1px
			margin-top 1px
			
			h2
				margin-top 1px
				
			
	#section-support ul li
			float none
			width 100%
			margin 0px 0px

	.header #header-parallax
		    
		.phone
			height 280px
			width 125px
			background url(../images/fondo_movil.png) center bottom no-repeat
			background-size: 100%;
			margin-left 38px
			margin-top 37px 
			
		.presentation
						  			    
			    float left
			    margin-top 57px
			    margin-left 9px
			h1
				font-size 1em
				text-align center
				padding 2px 
															
			img 
			
				width 100%	
				

		.download	
			
			img
				width 69%
				margin-left 25px 
				margin-top 1px 
	


	#section-benefit
		.wrap
			h2
				font-size 1.5em			
				
				
	#section-devices
		
		.device-example
				
				margin-left 6%
				
			img 
				width 285px	 

		.device-list
			width 64.4%
			
			h2 
				text-align center
				width 146%
				color #04b24b
			   
				
			figure img
				margin 2.8% 
				width 32px 
				float center  


		.subtitle
		  
				float center
				width 144%
			  
	#section-contact 
		form 
			width 100%
		.wrap
			h3
				
				font-size 1.2em 
				text-align center
				width 100% 
				

	.footer
		.home
			img
				margin-top 30px
				width 250%
				float left
				
		.links
			 margin-top 3px
			 width 100%
			

			li
				 
				 font-size 0.9em
				 margin-top 15px
				 
		.social 
			 
			 margin-top 9px
			 float right
			 width 31%
			  

	#video1 
		
		     display none
		     


/**
 * Most of phones
 *
 * When the with is lower than 320px
 */		     

@media (max-width:320px)
    

	    .wrap
			width 90%
			
		nav li a 
			padding 0.8em 0.4em !important
			display none
			

           	
			
		nav
		    display inline	
		    height 35px
		    
	
		    	
		.nav_movil
			
			    display inline 
			    float right
			    margin-top -25px   			    
		    
		.logo
			img 
				width 58% 
				margin-top -2px
		    

		.header
			height 340px
    
		.section-master
				top 350px
				
	#section-support
			padding-top 1px
			margin-top 1px
			
			h2
				margin-top 1px
				
			
	#section-support ul li
			float none
			width 100%
			margin 0px 0px

	.header #header-parallax
		    
		.phone
			height 280px
			width 125px
			background url(../images/fondo_movil.png) center bottom no-repeat
			background-size: 100%;
			margin-left 14px
			margin-top 45px 
			
		.presentation
						  			    
			    float left
			    margin-top 82px
			    margin-left 9px
			h1
				font-size 0.8em
				text-align center
				padding 2px 
															
			img 
			
				width 100%	
				

		.download	
			
			img
				width 69%
				margin-left 25px 
				margin-top 1px 
				
	#section-devices  
		.device-list
        
			    width 64.4%
			figure
				width 247%
		.subtitle
			text-align justify		
		


		
		
