
<!DOCTYPE HTML>
<html>
    <head>
        <meta name="Description" content="Asociados es una Aplicacion Movil para estar conectado con tu fondo o cooperativa, podra teneer acceso a estado de cuenta, creditos, mensajes, mensajeria desde tu movil">

        <meta name="Distribution" content="Global">
        <meta name="Robots" content="All">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

        {%load static from staticfiles%}

        <title>Asociados</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <script type="text/javascript">
            var device = navigator.userAgent;
            if (device.match(/Iphone/i)|| device.match(/Ipod/i)|| device.match(/Android/i)|| device.match(/J2ME/i)|| device.match(/BlackBerry/i)|| device.match(/iPhone|iPad|iPod/i)|| device.match(/Opera Mini/i)|| device.match(/IEMobile/i)|| device.match(/Mobile/i)|| device.match(/Windows Phone/i)|| device.match(/windows mobile/i)|| device.match(/windows ce/i)|| device.match(/webOS/i)|| device.match(/palm/i)|| device.match(/bada/i)|| device.match(/series60/i)|| device.match(/nokia/i)|| device.match(/symbian/i)|| device.match(/HTC/i)){
                window.location = "http://asociados.com.co/movil.html";
            }
        </script>

        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,600,700,800' rel='stylesheet' type='text/css'>
        
        <!-- build:css /static/landing/css/css.min.css -->
        <link href="/static/landing/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- endbuild -->

    </head>
    <body>

        
        <div class="header1">
            <div class="wrap">
                <div class="logo">
                    <a class="logo" href="#"><img src="/static/landing/images/f-logo.png" title="logo asociados" /></a>
                </div>
                <div class="top-nav">
                    <ul>
                        <li class="active"><a href="#download" class="scroll">Inicio</a></li>
                        <li><a href="#support" class="scroll">Servicios</a></li>
                        <li><a href="#developers" class="scroll">Beneficios</a></li>
                        <li><a href="#dispositivos" class="scroll">Dispositivos</a></li>
                        <li><a href="#privacy" class="scroll">Pasos</a></li>
                        <li><a href="#contact" class="scroll">Contacto</a></li>
                    </ul>
                </div>
 
            </div>
        </div>

        <div class="header" id="download">
            <div class="wrap" id="header-parallax">
                <div class="header-left"><span></span></div>
                <div class="header-right">
                    <a class="logo" href="#"> <img src="/static/landing/images/logo.png"  title="logo Asociados" /></a>
                    <h1>Usa la app de asociados y podras ver todo la información de tu entidad.</h1>
                    <p>Aplicacion para asociados</p>
                    <div class="download">
                        <a href="#"><img src="/static/landing/images/appstore.png" title="app store asociados"alt=""/><img src="/static/landing/images/google_play.png" title="play store asociados" alt=""/></a>
                    </div>
                </div>

            </div>
        </div>



        <div class="content-master">
            <section class="content-top" id="section-support">
                <div class="wrap">
                    <h2>PODRÁS RECIBIR TODOS LOS AVISOS DE TU ENTIDAD</h2>
                    <p class="m_2">NOTICIAS, ANUNCIOS Y NOTIFICACIONES EN TIEMPO REAL.</p>
                    <div class="box1">

                        <div class="col_1_of_3 span_1_of_3">
                            <img src="/static/landing/images/calender.png" title="icono noticias asociados" alt=""/>
                            <h3>Noticias</h3>
                            <p>Reciba en tiempo real las noticias que tiene tu entidad para ti.</p>
                        </div>

                        <div class="col_1_of_3 span_1_of_3">
                            <img src="/static/landing/images/time.png"   title="icono anuncios asociados" alt=""/>
                            <h3>Anuncios</h3>
                            <p>Anuncios en tiempo real de tu entidad sobre cualquier beneficio.</p>
                        </div>

                        <div class="col_1_of_3 span_1_of_3">
                            <img src="/static/landing/images/users.png"  title="icono notificaciones asociados" alt=""/>
                            <h3>Notificaciones</h3>
                            <p>En tu celular tendras todas las notificaciones de tu entidad sobre el estado de tu credito.</p>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </section>

    <!--         <div class="content-middle" id="developers">
                <div class="wrap">
                    <div class="box2">
                        <img src="/static/landing/images/phones1.png"  title="movil asociados" alt=""/>
                    </div>
                </div>
            </div> -->

    <!--         <div class="middle-bottom">
                <div class="wrap">
                    <h2 class="m_1">TODA LA INFORMACIÓN DE TU ENTIDAD AL ALCANCE DE TU MANO</h2>

                    <div class="box3">
                        <div class="col_1_of_2 span_1_of_2">
                            <ul class="list1">
                                <li>
                                    <img src="/static/landing/images/estado.png"  title="icono estado de cuenta asociados"  alt=""/>
                                    <div class="desc"><h4>Estado de Cuenta</h4><p>Podras consultar el estado de de su cuenta desde su dipositipo movil.</p></div>
                                    <div class="clear"> </div>
                                </li>
                            </ul>

                            <ul class="list1">
                                <li>
                                    <img src="/static/landing/images/graph.png"  title="icono creditos asociados"  alt=""/>
                                    <div class="desc"><h4>Creditos</h4><p>Consulta el estado de tu credito como asociado de forma rapida y segura.</p></div>
                                    <div class="clear"> </div>
                                </li>
                            </ul>

                            <ul class="list1">
                                <li>
                                    <img src=" /static/landing/images/speech1.png" title="icono mensajeria asociados"  alt=""/>
                                    <div class="desc"><h4>Mensajeria Instantanea</h4><p>Envie o reciba cualquier  comunidado de tu entidad.</p></div>
                                    <div class="clear"> </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col_1_of_2 span_1_of_2">
                            <ul class="list1">
                                <li>
                                    <img src="/static/landing/images/speech.png"  title="icono actualizacion de datos asociados"  alt=""/>
                                    <div class="desc"><h4>Actualizacion de Datos</h4><p>Actualiza los datos de  tu entidad desde la App de asociados.</p></div>
                                    <div class="clear"> </div>
                                </li>
                            </ul>

                            <ul class="list1">
                                <li>
                                    <img src="/static/landing/images/user.png"  title="icono indicadores asociados"  alt=""/>
                                    <div class="desc"><h4>Indicadores Economicos</h4><p>Podra consultar el corpontacion de los principales indicadores economicos</p></div>
                                    <div class="clear"> </div>
                                </li>
                            </ul>

                            <ul class="list1">
                                <li>
                                    <img src="/static/landing/images/notepad.png"  title="icono redes sociales asociados" alt=""/>
                                    <div class="desc"><h4>Redes Sociales</h4><p>Estaras enterado de todas las publuicaciones de tu entidadad en redes sociales.</p></div>
                                    <div class="clear"> </div>
                                </li>
                            </ul>
                        </div>

                        <div class="clear"> </div>

                    </div>
                </div>
            </div>
     -->
            <div class="content-bottom">
                <div class="panels"id="dispositivos">
                    <div class="panel-left" data-sr="wait 0.3s, enter from the left then ease-in-out 200px"><span></span></div>
                    
                    <div class="panel-right">
                        <h3>Una Aplicación. Múltiples Dispositivos</h3>
                        <p>Este es otro lugar para resaltar otra función de la app de asociados y hablar mas acerca de la compatibilidad, tal vez? Quién sabe, la decisión es suya!</p>

                        <figure id="imagenes_logos">
                            <img src="/static/landing/images/apple.png"  title="icono apple asociados" alt="">
                            <img src="/static/landing/images/android.png"  title="icono android asociados" alt="">
                            <img src="/static/landing/images/windows.png"  title="icono windows asociados" alt="">
                            <img src="/static/landing/images/tablet.png"  title="icono tablets asociados" alt="">
                            <img src="/static/landing/images/celular.png"  title="icono celular asociados" alt="">
                        </figure>
                    </div>

                    <div class="clear"> </div>
                </div>
             </div>

            <section id="section-download">
                <div class="wrap">

                        <h2 class="m_1">Como descargar tu app de asociados</h2>
                        <p class="m_2">Siga los siguientes pasos para tener todos los servicios de tu entidad.</p>

                        <ul>
                            <li>
                                <img src="/static/landing/images/f_img1.jpg" data-sr="wait 0.3s, enter from the bottom then ease-in-out 50px">
                                <div class="description">
                                    <h4>Descarga la App</h4>
                                    <p>Descarga la aplicación desde google play o app store, instálala en tu cel.</p>
                                </div>
                            </li>

                            <li>
                                <img src="/static/landing/images/f_img2.jpg" data-sr="wait 0.6s, enter from the bottom then ease-in-out 50px">
                                <div class="description">
                                    <h4>Registrate</h4>
                                    <p>Con tu login y password y podrá tener toda la información de su entidad . En tiempo real.</p>
                                </div>
                            </li>

                            <li>
                                <img src="/static/landing/images/f_img3.jpg" data-sr="wait 0.9s, enter from the bottom then ease-in-out 50px" />
                                <div class="description">
                                    <h4>Te Conecta</h4>
                                    <p>Conecta todas las funciones de la aplicación desde tu Smartphone o Tablet</p>
                                </div>
                            </li>
                        </ul>

                </div>
            </section>

            <div class="mid-grids-bottom" id="contact">
                <div class="wrap">
                    <h3>Envianos tu email y te contestaremos tan pronto como sea posible!</h3>
                    <form method="post" id="formid">
                        <input type="text" class="textbox" value="Ingresa tu Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ingresa tu Email';}"><input type="submit" value="Enviar" />
                    </form>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="wrap">
                    <div class="box4">
                        <div class="col_1_of_footer-bottom span_1_of_footer-bottom">
                            <a href="index.html">    <img src="/static/landing/images/logo_inferior.png"  alt=""/></a>
                        </div>
                        <div class="col_1_of_middle-bottom span_1_of_middle-bottom">
                            <div class="cssmenu">
                                <ul>
                                    <li><a href="#download" class="scroll">Inicio</a></li>
                                    <li><a href="#support" class="scroll">Servicios</a></li>
                                    <li><a href="#developers" class="scroll">Beneficios</a></li>
                                    <li><a href="#dispositivos" class="scroll">Dispositivos</a></li>
                                    <li><a href="#privacy" class="scroll">Pasos</a></li>
                                    <li><a href="#contact" class="scroll">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col_1_of_footer-bottom span_1_of_footer-bottom">
                            <div class="social-icons">
                                <ul>
                                    <li class="tw1"><a href="#"><span> </span></a></li>
                                    <li class="fb1"><a href="#"><span> </span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="copy">
                <p> <img src="/static/landing/images/logo_wedonia.png"  title="logo wedonia"/></p>
                <p>© 2014 </p>
            </div>
        </div>

        
        <!-- jquery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>

        <!-- build:js /static/landing/js/js.min.js -->

        <!-- jquery move top -->
        <script type="text/javascript" src="/static/landing/lib/jquery/jquery.move-top.js" ></script>
        <script type="text/javascript" src="/static/landing/lib/jquery/jquery.easing.js" ></script>
        <script type="text/javascript" src="/static/landing/lib/scroll-reveal/scrollReveal.js" ></script>

        <!-- app -->
        <script type="text/javascript" src="/static/landing/js/app.js" ></script>
        <!-- endbuild -->

        <script src="http://localhost:35729/livereload.js?snipver=1"></script>

    </body>
</html>