<!DOCTYPE HTML>
<html lang="es">
    <head>

        <meta name="p:domain_verify" content="37e1d4aba33ab1d0b62323baf26ef67d"/>

        <meta name="Description" content="Asociados es una Aplicacion Movil para estar conectado con tu fondo o cooperativa, podrá tener acceso al estado de cuenta, creditos, mensajes, mensajeria desde tu movil">

        <meta name="Distribution" content="Global">
        <meta name="Robots" content="All">
        <link rel="shortcut icon" href="/static/landing/images/favicon.ico" type="image/x-icon">

        {%load static from staticfiles%}

        <title>Asociados</title>

        <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,600,700,800' rel='stylesheet' type='text/css'>
        
        <!-- build:css /static/landing/css/css.min.css -->

        <!-- owl carousel -->
        <link href="/static/landing/lib/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" >
        <link href="/static/landing/lib/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" >
        <!-- <link href="/static/landing/lib/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" > -->

        <!-- normalize -->
        <link href="/static/landing/css/normalize.css" rel="stylesheet" type="text/css" media="all" >
        <link href="/static/landing/css/style.css" rel="stylesheet" type="text/css" media="all" >
        <link href="/static/landing/css/responsive.css" rel="stylesheet" type="text/css" media="all" >
        <!-- endbuild -->

    </head>

    <body>

        <nav>
            <div class="wrap">
                <a class="logo" href="#"><img src="/static/landing/images/f-logo.png" title="logo asociados" </a>
                <a class="nav_movil" href="#section-contact"><img src="/static/landing/images/nav_movil.png" title="logo asociados" </a>

                <ul>
                    <li class="active"><a href="#header-parallax" class="scroll">Inicio</a></li>
                    <li><a href="#section-support" class="scroll">Servicios</a></li>
                    <li><a href="#section-benefit" class="scroll">Beneficios</a></li>
                    <li><a href="#section-devices" class="scroll">Dispositivos</a></li>
                    <li><a href="#section-download" class="scroll">Pasos</a></li>
                    <li class="contact"><a href="#section-contact" class="scroll">Contacto</a></li>
                <div id="toggle-nav">a</div>        
            </div>
        </nav>

        <header class="header">
            <div class="wrap">
                <div id="header-parallax">
                    <div class="phone"></div>
                    <div class="presentation">
                   
                            <img src="/static/landing/images/logo.png"  title="logo Asociados">
                        </a>
                        <h1>Usa la app de asociados y podrás ver toda la información de tu entidad.</h1>
                        <p>Aplicación para asociados</p>
                        <div class="download">
                          
                                <a class="img1" href=""><img src="/static/landing/images/appstore.png" title="app store asociados" alt="" >
                                 </a>
                                
                                <a class="img2" href="https://play.google.com/store/apps/details?id=com.widonia.asociados"><img src="/static/landing/images/google_play.png" title="play store asociados" alt="" >
                                 </a>
                              
                                 <a class="img3"href=""><img src="/static/landing/images/wind_phone.png" title="play store asociados" alt="" >
                           </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="section-master">

            <section id="section-support">
                <div class="wrap">
                    <h2>PODRÁS RECIBIR TODOS LOS AVISOS DE TU ENTIDAD</h2>
                    <p class="subtitle">NOTICIAS, ANUNCIOS Y NOTIFICACIONES EN TIEMPO REAL.</p>

                    <ul>
                        <li>
                            <img src="/static/landing/images/calender.png" title="icono noticias asociados" alt=""/>
                            <h3>Noticias</h3>
                            <p>Reciba en tiempo real las noticias que tiene tu entidad para ti.</p>
                        </li>

                        <li>
                            <img src="/static/landing/images/time.png"   title="icono anuncios asociados" alt=""/>
                            <h3>Anuncios</h3>
                            <p>Anuncios en tiempo real de tu entidad sobre cualquier beneficio.</p>
                        </li>

                        <li>
                            <img src="/static/landing/images/users.png"  title="icono notificaciones asociados" alt=""/>
                            <h3>Notificaciones</h3>
                            <p>En tu celular tendrás todas las notificaciones de tu entidad sobre el estado de tu crédito.</p>
                        </li>
                    </ul>
                </div>
            </section>
                  
                <section id="section-video">
                <video id="video1" src="/static/landing/images/video/asociados.appleuniversal.mp4" controls loop autoplay >
                <video id="video1" src="/static/landing/images/video/asociados.oggtheora.ogv" controls loop autoplay >
                <video id="video1" src="/static/landing/images/video/asociados.webmhd.webm" controls loop autoplay >
                 <video id="video1" src="/static/landing/images/video/asociados.mp4" controls loop autoplay >
                <video id="video1" src="/static/landing/images/video/asociados.webmsd.webm" controls loop autoplay >
   
              
                </video> 
                </section>
        

            <section id="section-benefit">
                <div class="wrap">
                    <h2>TODA LA INFORMACIÓN DE TU ENTIDAD AL ALCANCE DE TU MANO</h2>

                    <div class="interactive">

                        <!-- <div class="left">a</div> -->

                        <!-- <div class="right">a</div> -->

                        <div class="phone">
                            <div class="background"></div>
                            <div id="carousel" class="owl-carousel owl-theme">
                                <div class="item"><img src="/static/landing/images/p_estado.png" alt="" ></div>
                                <div class="item"><img src="/static/landing/images/p_creditos.png" alt="" ></div>
                                <div class="item"><img src="/static/landing/images/p_mensajeria.png" alt="" ></div>
                                <div class="item"><img src="/static/landing/images/p_actualizacion.png" alt="" ></div>
                                <div class="item"><img src="/static/landing/images/p_indicadores.png" alt="" ></div>
                                <div class="item"><img src="/static/landing/images/p_redes.png" alt="" ></div>
                            </div>
                        </div>


                        <ul id="carousel-info">
                            <li>
                                <div class="info account active" data-slide="0">
                                    <img class="arrow" src="/static/landing/images/carousel/arrow1.png" alt="" >
                                    <div class="icon"></div>
                                    <h4>Estado de Cuenta</h4>
                                    <p>Podrás consultar el estado de su cuenta desde su dispositivo móvil.</p>
                                </div>
                            </li>
                            <li>
                                <div class="info credit" data-slide="1">
                                    <img class="arrow" src="/static/landing/images/carousel/arrow1.png" alt="" >
                                    <div class="icon"></div>
                                    <h4>Créditos</h4>
                                    <p>Consulta el estado de tu crédito de forma rápida y segura.</p>
                                </div>
                            </li>
                            <li>
                                <div class="info message" data-slide="2">
                                    <img class="arrow" src="/static/landing/images/carousel/arrow2.png" alt="" >
                                    <div class="icon"></div>
                                    <h4>Mensajería Instantánea</h4>
                                    <p>Envía o reciba cualquier comunicado de tu entidad en tiempo real.</p>
                                </div>
                            </li>
                            <li>
                                <div class="info data" data-slide="3">
                                    <img class="arrow" src="/static/landing/images/carousel/arrow2.png" alt="" >
                                    <div class="icon"></div>
                                    <h4>Actualización de Datos</h4>
                                    <p>Actualiza los datos personales a tu entidad desde la App de asociados de forma rápida y segura.</p>
                                </div>
                            </li>
                            <li>
                                <div class="info indicator"  data-slide="4">
                                    <img class="arrow" src="/static/landing/images/carousel/arrow3.png" alt="" >
                                    <div class="icon"></div>
                                    <h4>Indicadores Económicos</h4>
                                    <p>Podrá consultar indicadores económicos e información del comportamiento las monedas en Colombia.TRM diario.</p>
                                </div>
                            </li>
                            <li>
                                <div class="info social" data-slide="5">
                                    <img class="arrow" src="/static/landing/images/carousel/arrow3.png" alt="" >
                                    <div class="icon"></div>
                                    <h4>Redes Sociales</h4>
                                    <p>Estarás enterado de todas las publicaciones de tu entidad en las redes sociales.</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>

            <section id="section-devices">
                <div class="device-example" data-sr="wait 0.3s, enter from the left then ease-in-out 200px">
                    <img src="/static/landing/images/dual-divice.png" alt="imagen Tablet">
                </div>
                
                <div class="device-list">
                    <h2>Una Aplicación. Múltiples Dispositivos</h2>
                    <p class="subtitle">Este es otro lugar para resaltar otra función de la app de asociados y hablar mas acerca de la compatibilidad, tal vez? Quién sabe, la decisión es suya!</p>

                    <figure>
                        <img src="/static/landing/images/apple.png"  title="icono apple asociados" alt="">
                        <img src="/static/landing/images/android.png"  title="icono android asociados" alt="">
                        <img src="/static/landing/images/windows.png"  title="icono windows asociados" alt="">
                        <img src="/static/landing/images/tablet.png"  title="icono tablets asociados" alt="">
                        <img src="/static/landing/images/celular.png"  title="icono celular asociados" alt="">
                    </figure>
                </div>
            </section>

            <section id="section-download">
                <div class="wrap">
                    <h2>Como descargar tu app de asociados</h2>
                    <p class="subtitle">Siga los siguientes pasos para tener todos los servicios de tu entidad.</p>

                    <ul>
                        <li>
                            <img src="/static/landing/images/f_img1.jpg" data-sr="wait 0.3s, enter from the bottom then ease-in-out 50px">
                            <div class="description">
                                <h4>Descarga la App</h4>
                                <p>Descarga la aplicación desde google play o app store, instálala en tu cel.</p>
                            </div>
                        </li>

                        <li>
                            <img src="/static/landing/images/f_img2.jpg" data-sr="wait 0.6s, enter from the bottom then ease-in-out 50px">
                            <div class="description">
                                <h4>Registrate</h4>
                                <p>Con tu login y password y podrá tener toda la información de su entidad . En tiempo real.</p>
                            </div>
                        </li>

                        <li>
                            <img src="/static/landing/images/f_img3.jpg" data-sr="wait 0.9s, enter from the bottom then ease-in-out 50px" />
                            <div class="description">
                                <h4>Te Conecta</h4>
                                <p>Conecta todas las funciones de la aplicación desde tu Smartphone o Tablet</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="section-contact">
                <div class="wrap">
                    <h3>Envianos tu email y te contestaremos tan pronto como sea posible!</h3>
                    <form method="post" id="formid">
                        <input type="text" class="textbox" value="Ingresa tu Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ingresa tu Email';}"><input type="submit" value="Enviar" />
                    </form>
                </div>  
            </section>
            <footer>
            <footer class="footer">
                <div class="wrap">


                      <ul class="links">
                        <li><a href="#header-parallax" class="scroll">Inicio</a></li>
                        <li><a href="#section-support" class="scroll">Servicios</a></li>
                        <li><a href="#section-benefit" class="scroll">Beneficios</a></li>
                        <li><a href="#section-devices" class="scroll">Dispositivos</a></li>
                        <li><a href="#section-download" class="scroll">Pasos</a></li>
                        <li><a href="#section-contact" class="scroll">Contacto</a></li>
                    </ul>

                    <a href="index.html" class="home">
                        <img src="/static/landing/images/logo_inferior.png" alt="" >
                    </a>

                    <ul class="social">
                        <li class="tw"><a href="https://twitter.com/Asociados_App"></a></li>
                        <li class="fb"><a href="https://www.facebook.com/pages/Asociados-App/1547611582190548"></a></li>
                      
<!-- Please call pinit.js only once per page -->

                    </ul>

                    <div class="copy">
                        <img src="/static/landing/images/logo_wedonia.png" title="logo wedonia"/>
                        <p>© 2015</p>
                    </div>
                </div>
            </footer>
        </div>
</footer>
        
        <!-- jquery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>

        <!-- build:js /static/landing/js/js.min.js -->

        <!-- hammer -->
        <script type="text/javascript" src="/static/landing/lib/hammer/hammer.js" ></script>

        <!-- owl carousel -->
        <script type="text/javascript" src="/static/landing/lib/owl-carousel/owl.carousel.min.js" ></script>

        <!-- jquery move top -->
        <script type="text/javascript" src="/static/landing/lib/jquery/jquery.move-top.js" ></script>
        <script type="text/javascript" src="/static/landing/lib/jquery/jquery.easing.js" ></script>
        <script type="text/javascript" src="/static/landing/lib/scroll-reveal/scrollReveal.js" ></script>

        <!-- app -->
        <script type="text/javascript" src="/static/landing/js/utils/watch.js" ></script>
        <script type="text/javascript" src="/static/landing/js/views/benefit.js" ></script>
        <script type="text/javascript" src="/static/landing/js/app.js" ></script>
        <!-- endbuild -->

        <script src="http://localhost:35729/livereload.js?snipver=1"></script>



        <!--  analytics -->

                <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-59680738-1', 'auto');
          ga('send', 'pageview');

                </script>

        <!--  analytics -->

    </body>
</html>                   